body {
  background-color: #96ada9;
}

.App {
  background: linear-gradient(to right, #30cfd0 0%, #330867 100%);
  padding: 30px;
  width: 700px;
  height: 700px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}

.App > header {
  background: pink;
  color: blue;
  margin: 20px;
  /* justify-content: center; */
  /* align-items: center; */
  /* text-align: center; */
}

.header > h1 {
  /* color: #0f0f0f; */
  text-transform: uppercase;
  background: plum;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 40px;
  /* font-weight: bold; */
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
}

.flex-row {
  justify-content: center;
  display: flex;
  padding: 20px;
}
